In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
import warnings

warnings.filterwarnings

%matplotlib inline

In [2]:
df = pd.read_csv("Travel.csv")
df.head()

,CustomerID,ProdTaken,Age,TypeofContact,CityTier,DurationOfPitch,Occupation,Gender,NumberOfPersonVisiting,NumberOfFollowups,ProductPitched,PreferredPropertyStar,MaritalStatus,NumberOfTrips,Passport,PitchSatisfactionScore,OwnCar,NumberOfChildrenVisiting,Designation,MonthlyIncome
0,200000,1,41.0,Self Enquiry,3,6.0,Salaried,Female,3,3.0,Deluxe,3.0,Single,1.0,1,2,1,0.0,Manager,20993.0
1,200001,0,49.0,Company Invited,1,14.0,Salaried,Male,3,4.0,Deluxe,4.0,Divorced,2.0,0,3,1,2.0,Manager,20130.0
2,200002,1,37.0,Self Enquiry,1,8.0,Free Lancer,Male,3,4.0,Basic,3.0,Single,7.0,1,3,0,0.0,Executive,17090.0
3,200003,0,33.0,Company Invited,1,9.0,Salaried,Female,2,3.0,Basic,3.0,Divorced,2.0,1,5,1,1.0,Executive,17909.0
4,200004,0,NaN,Self Enquiry,1,8.0,Small Business,Male,2,3.0,Basic,4.0,Divorced,1.0,0,5,1,0.0,Executive,18468.0

In [3]:
## Data Cleaning
df.isnull().sum()

CustomerID                    0
ProdTaken                     0
Age                         226
TypeofContact                25
CityTier                      0
DurationOfPitch             251
Occupation                    0
Gender                        0
NumberOfPersonVisiting        0
NumberOfFollowups            45
ProductPitched                0
PreferredPropertyStar        26
MaritalStatus                 0
NumberOfTrips               140
Passport                      0
PitchSatisfactionScore        0
OwnCar                        0
NumberOfChildrenVisiting     66
Designation                   0
MonthlyIncome               233
dtype: int64

In [4]:
df['Gender'].value_counts()

Gender
Male       2916
Female     1817
Fe Male     155
Name: count, dtype: int64

In [5]:
df['TypeofContact'].value_counts()

TypeofContact
Self Enquiry       3444
Company Invited    1419
Name: count, dtype: int64

In [6]:
df['Gender'] = df['Gender'].replace('Fe Male', 'Female')
df['MaritalStatus'] = df['MaritalStatus'].replace('Single', 'Umarried')

In [7]:
df.head()

,CustomerID,ProdTaken,Age,TypeofContact,CityTier,DurationOfPitch,Occupation,Gender,NumberOfPersonVisiting,NumberOfFollowups,ProductPitched,PreferredPropertyStar,MaritalStatus,NumberOfTrips,Passport,PitchSatisfactionScore,OwnCar,NumberOfChildrenVisiting,Designation,MonthlyIncome
0,200000,1,41.0,Self Enquiry,3,6.0,Salaried,Female,3,3.0,Deluxe,3.0,Umarried,1.0,1,2,1,0.0,Manager,20993.0
1,200001,0,49.0,Company Invited,1,14.0,Salaried,Male,3,4.0,Deluxe,4.0,Divorced,2.0,0,3,1,2.0,Manager,20130.0
2,200002,1,37.0,Self Enquiry,1,8.0,Free Lancer,Male,3,4.0,Basic,3.0,Umarried,7.0,1,3,0,0.0,Executive,17090.0
3,200003,0,33.0,Company Invited,1,9.0,Salaried,Female,2,3.0,Basic,3.0,Divorced,2.0,1,5,1,1.0,Executive,17909.0
4,200004,0,NaN,Self Enquiry,1,8.0,Small Business,Male,2,3.0,Basic,4.0,Divorced,1.0,0,5,1,0.0,Executive,18468.0

In [8]:
## Check Missing Value
features_with_na =[features for features in df.columns if df[features].isnull().sum()>=1]
for feature in features_with_na:
    print(feature,np.round(df[feature].isnull().mean()*100,5), '%missing values')

Age 4.62357 %missing values
TypeofContact 0.51146 %missing values
DurationOfPitch 5.13502 %missing values
NumberOfFollowups 0.92062 %missing values
PreferredPropertyStar 0.53191 %missing values
NumberOfTrips 2.86416 %missing values
NumberOfChildrenVisiting 1.35025 %missing values
MonthlyIncome 4.76678 %missing values

In [9]:
df[features_with_na].select_dtypes(exclude='object').describe()

,Age,DurationOfPitch,NumberOfFollowups,PreferredPropertyStar,NumberOfTrips,NumberOfChildrenVisiting,MonthlyIncome
count,4662.000000,4637.000000,4843.000000,4862.000000,4748.000000,4822.000000,4655.000000
mean,37.622265,15.490835,3.708445,3.581037,3.236521,1.187267,23619.853491
std,9.316387,8.519643,1.002509,0.798009,1.849019,0.857861,5380.698361
min,18.000000,5.000000,1.000000,3.000000,1.000000,0.000000,1000.000000
25%,31.000000,9.000000,3.000000,3.000000,2.000000,1.000000,20346.000000
50%,36.000000,13.000000,4.000000,3.000000,3.000000,1.000000,22347.000000
75%,44.000000,20.000000,4.000000,4.000000,4.000000,2.000000,25571.000000
max,61.000000,127.000000,6.000000,5.000000,22.000000,3.000000,98678.000000

In [10]:
## Age
df.Age.fillna(df.Age.median(), inplace=True)

## Typesofcontract
df.TypeofContact.fillna(df.TypeofContact.mode()[0], inplace= True)

# Durationofpitch
df.DurationOfPitch.fillna(df.DurationOfPitch.median(), inplace=True)

# Numberoffolloups
df.NumberOfFollowups.fillna(df.NumberOfFollowups.mode()[0], inplace=True)

## PreferredPropertyStar
df.PreferredPropertyStar.fillna(df.PreferredPropertyStar.mode()[0], inplace=True)

## NumbetOfTrips
df.NumberOfTrips.fillna(df.NumberOfTrips.median(), inplace=True)

##NumberofChildrenvisiting
df.NumberOfChildrenVisiting.fillna(df.NumberOfChildrenVisiting.mode()[0], inplace=True)

## MOnthlyIncome
df.MonthlyIncome.fillna(df.MonthlyIncome.median(), inplace=True)

C:\Users\ACER\AppData\Local\Temp\ipykernel_9128\1965219584.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df.Age.fillna(df.Age.median(), inplace=True)
C:\Users\ACER\AppData\Local\Temp\ipykernel_9128\1965219584.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df.TypeofContact.fillna(df.TypeofContact.mode()[0], inplace= True)
C:\Users\ACER\AppData\Local\Temp\ipykernel_9128\1965219584.py:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df.DurationOfPitch.fillna(df.DurationOfPitch.median(), inplace=True)
C:\Users\ACER\AppData\Local\Temp\ipykernel_9128\1965219584.py:11: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df.NumberOfFollowups.fillna(df.NumberOfFollowups.mode()[0], inplace=True)
C:\Users\ACER\AppData\Local\Temp\ipykernel_9128\1965219584.py:14: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df.PreferredPropertyStar.fillna(df.PreferredPropertyStar.mode()[0], inplace=True)
C:\Users\ACER\AppData\Local\Temp\ipykernel_9128\1965219584.py:17: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df.NumberOfTrips.fillna(df.NumberOfTrips.median(), inplace=True)
C:\Users\ACER\AppData\Local\Temp\ipykernel_9128\1965219584.py:20: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df.NumberOfChildrenVisiting.fillna(df.NumberOfChildrenVisiting.mode()[0], inplace=True)
C:\Users\ACER\AppData\Local\Temp\ipykernel_9128\1965219584.py:23: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df.MonthlyIncome.fillna(df.MonthlyIncome.median(), inplace=True)

In [11]:
df.head()

,CustomerID,ProdTaken,Age,TypeofContact,CityTier,DurationOfPitch,Occupation,Gender,NumberOfPersonVisiting,NumberOfFollowups,ProductPitched,PreferredPropertyStar,MaritalStatus,NumberOfTrips,Passport,PitchSatisfactionScore,OwnCar,NumberOfChildrenVisiting,Designation,MonthlyIncome
0,200000,1,41.0,Self Enquiry,3,6.0,Salaried,Female,3,3.0,Deluxe,3.0,Umarried,1.0,1,2,1,0.0,Manager,20993.0
1,200001,0,49.0,Company Invited,1,14.0,Salaried,Male,3,4.0,Deluxe,4.0,Divorced,2.0,0,3,1,2.0,Manager,20130.0
2,200002,1,37.0,Self Enquiry,1,8.0,Free Lancer,Male,3,4.0,Basic,3.0,Umarried,7.0,1,3,0,0.0,Executive,17090.0
3,200003,0,33.0,Company Invited,1,9.0,Salaried,Female,2,3.0,Basic,3.0,Divorced,2.0,1,5,1,1.0,Executive,17909.0
4,200004,0,36.0,Self Enquiry,1,8.0,Small Business,Male,2,3.0,Basic,4.0,Divorced,1.0,0,5,1,0.0,Executive,18468.0

In [12]:
df.isnull().sum()

CustomerID                  0
ProdTaken                   0
Age                         0
TypeofContact               0
CityTier                    0
DurationOfPitch             0
Occupation                  0
Gender                      0
NumberOfPersonVisiting      0
NumberOfFollowups           0
ProductPitched              0
PreferredPropertyStar       0
MaritalStatus               0
NumberOfTrips               0
Passport                    0
PitchSatisfactionScore      0
OwnCar                      0
NumberOfChildrenVisiting    0
Designation                 0
MonthlyIncome               0
dtype: int64

In [13]:
df.drop('CustomerID', inplace=True, axis=1)

Feature Enginnering

In [14]:
## Create a new column for feature
df['TotalVisiting'] =df['NumberOfPersonVisiting'] + df['NumberOfChildrenVisiting']
df.drop(columns=['NumberOfPersonVisiting', 'NumberOfChildrenVisiting'], inplace=True)

In [15]:
## Get all the numeric Features
num_features =[feature for feature in df.columns if df[feature].dtype != 'O']
print("Num of NUmerical Feature :", len(num_features))

Num of NUmerical Feature : 12

In [16]:
## Categorical Features
categorical_features = [feature for feature in df.columns if df[feature].dtype =='O']
print("Num of Categorical Features :", len(categorical_features))

Num of Categorical Features : 6

In [17]:
## Discrete Features
discrete_features = [features_with_na for feature in num_features if len(df[feature].unique()<=25)]
print("Discrete Feature :", len(discrete_features))

Discrete Feature : 12

In [18]:
## Continuous Features
continuos_features = [feature for feature in num_features if feature not in discrete_features]
print("Continues Featurs :", len(continuos_features))

Continues Featurs : 12

Train Test Split And Model Training

In [19]:
from sklearn.model_selection import train_test_split
X = df.drop(['ProdTaken'], axis=1)
y =df['ProdTaken']

In [20]:
y.value_counts()

ProdTaken
0    3968
1     920
Name: count, dtype: int64

In [21]:
X.head()

,Age,TypeofContact,CityTier,DurationOfPitch,Occupation,Gender,NumberOfFollowups,ProductPitched,PreferredPropertyStar,MaritalStatus,NumberOfTrips,Passport,PitchSatisfactionScore,OwnCar,Designation,MonthlyIncome,TotalVisiting
0,41.0,Self Enquiry,3,6.0,Salaried,Female,3.0,Deluxe,3.0,Umarried,1.0,1,2,1,Manager,20993.0,3.0
1,49.0,Company Invited,1,14.0,Salaried,Male,4.0,Deluxe,4.0,Divorced,2.0,0,3,1,Manager,20130.0,5.0
2,37.0,Self Enquiry,1,8.0,Free Lancer,Male,4.0,Basic,3.0,Umarried,7.0,1,3,0,Executive,17090.0,3.0
3,33.0,Company Invited,1,9.0,Salaried,Female,3.0,Basic,3.0,Divorced,2.0,1,5,1,Executive,17909.0,3.0
4,36.0,Self Enquiry,1,8.0,Small Business,Male,3.0,Basic,4.0,Divorced,1.0,0,5,1,Executive,18468.0,2.0

In [22]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=42)

In [24]:
X_train.shape, X_test.shape

((3910, 17), (978, 17))

In [ ]:
## Create Column Transfer with 3 types of transformers

cat_features = X.select_dtypes(include="object").columns
num_features = X.select_dtypes(exclude="object").columns

In [30]:
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.compose import ColumnTransformer

numeric_transformer = StandardScaler()
oh_trasformer = OneHotEncoder(drop='first')

preprossor =ColumnTransformer(
    [
        ("OneHotEncoder", oh_trasformer, cat_features),
        ("StandardScaler", numeric_transformer, num_features)
    ]
)

In [31]:
X_train =preprossor.fit_transform(X_train)
X_test =preprossor.transform(X_test)

In [32]:
pd.DataFrame(X_train)

,0,1,2,3,4,5,6,7,8,9,...,17,18,19,20,21,22,23,24,25,26
0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,...,-0.721400,-1.020350,1.284279,-0.725271,-0.127737,-0.632399,0.679690,0.782966,-0.382245,-0.774151
1,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,...,-0.721400,0.690023,0.282777,-0.725271,1.511598,-0.632399,0.679690,0.782966,-0.459799,0.643615
2,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,-0.721400,-1.020350,0.282777,1.771041,0.418708,-0.632399,0.679690,0.782966,-0.245196,-0.065268
3,1.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,...,-0.721400,-1.020350,1.284279,-0.725271,-0.127737,-0.632399,1.408395,-1.277194,0.213475,-0.065268
4,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,-0.721400,2.400396,-1.720227,-0.725271,1.511598,-0.632399,-0.049015,-1.277194,-0.024889,2.061382
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3905,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,...,-0.721400,-0.653841,1.284279,-0.725271,-0.674182,-0.632399,-1.506426,0.782966,-0.536973,0.643615
3906,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,1.455047,-0.898180,-0.718725,1.771041,-1.220627,-0.632399,1.408395,0.782966,1.529609,-0.065268
3907,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.455047,1.545210,0.282777,-0.725271,2.058043,-0.632399,-0.777720,0.782966,-0.360576,0.643615
3908,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,...,1.455047,1.789549,1.284279,-0.725271,-0.127737,-0.632399,-1.506426,0.782966,-0.252799,0.643615
3909,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,-0.721400,-0.776011,0.282777,-0.725271,-1.220627,1.581280,-0.049015,-1.277194,-1.082511,-1.483035

In [33]:
pd.DataFrame(X_test)

,0,1,2,3,4,5,6,7,8,9,...,17,18,19,20,21,22,23,24,25,26
0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,1.0,...,1.455047,-0.287333,1.284279,-0.725271,-1.220627,-0.632399,-0.777720,-1.277194,-0.737510,-0.774151
1,1.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,1.0,...,0.366823,-0.531672,0.282777,0.522885,-1.220627,1.581280,1.408395,-1.277194,-0.670411,-0.065268
2,1.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,1.0,...,1.455047,0.812193,0.282777,-0.725271,0.965153,-0.632399,1.408395,0.782966,-0.420832,-0.774151
3,1.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,...,-0.721400,2.522566,2.285781,-0.725271,1.511598,-0.632399,-0.049015,0.782966,-0.113658,0.643615
4,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.455047,-1.020350,0.282777,0.522885,-0.127737,1.581280,0.679690,0.782966,-0.317047,2.061382
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
973,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,-0.721400,-1.020350,0.282777,-0.725271,1.511598,-0.632399,1.408395,0.782966,0.498219,0.643615
974,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,-0.721400,-1.142519,0.282777,1.771041,-0.674182,1.581280,-1.506426,-1.277194,-1.184015,-1.483035
975,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,...,-0.721400,1.056532,1.284279,-0.725271,-0.674182,1.581280,1.408395,0.782966,0.690012,0.643615
976,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,...,-0.721400,-0.287333,-2.721728,-0.725271,-0.674182,-0.632399,1.408395,0.782966,-0.228278,-0.774151
977,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,-0.721400,-0.776011,0.282777,-0.725271,-0.674182,-0.632399,1.408395,0.782966,-0.446113,2.061382

# Random Forest Classifier Training

In [47]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score,classification_report,ConfusionMatrixDisplay,precision_score,recall_score,f1_score,roc_auc_score,roc_curve

In [58]:

models ={
    "Decision Tree": DecisionTreeClassifier(),
    "Random Forest ": RandomForestClassifier(),
    "Logistic Regression": LogisticRegression()
}

for i in range(len(list(models))):
    model =list(models.values())[i]
    model.fit(X_train,y_train)  ## Train Model

    ## make prediction
    y_train_pred = model.predict(X_train)
    y_test_pred = model.predict(X_test)
    ## Training Set Performance
    model_train_accuracy = accuracy_score(y_train,y_train_pred)
    model_train_f1 = f1_score(y_train,y_train_pred, average='weighted')
    model_train_precision = precision_score(y_train, y_train_pred)
    model_train_recall =recall_score(y_train, y_train_pred)
    model_train_rocauc_score =roc_auc_score(y_train,y_train_pred)


    ## Test Set Performance
    model_test_accuracy = accuracy_score(y_test, y_test_pred)
    model_test_f1 =f1_score(y_test, y_test_pred)
    model_test_precision = precision_score(y_test, y_test_pred)
    model_test_recall =recall_score(y_test, y_test_pred)
    model_test_rocauc_score = roc_auc_score(y_test, y_test_pred)


    print(list(models.keys())[i])

    print("Model Performance For Traning Set")
    print("Accuracy :", model_train_accuracy)
    print("F1 Score :", model_train_f1)
    print("Precision :", model_train_precision)
    print("Recall :", model_train_recall)
    print("Roc Auc Score:", model_train_rocauc_score)

    print("="*35)

    print("Model Performance For Testing Set")
    print("Accuracy :", model_test_accuracy)
    print("F1 Score :", model_test_f1)
    print("Precision :", model_test_precision)
    print("Recall :", model_test_recall)
    print("Roc Auc Score:", model_test_rocauc_score)

Decision Tree
Model Performance For Traning Set
Accuracy : 1.0
F1 Score : 1.0
Precision : 1.0
Recall : 1.0
Roc Auc Score: 1.0
===================================
Model Performance For Testing Set
Accuracy : 0.9100204498977505
F1 Score : 0.7647058823529411
Precision : 0.7814207650273224
Recall : 0.7486910994764397
Roc Auc Score: 0.8489325891283088
Random Forest
Model Performance For Traning Set
Accuracy : 1.0
F1 Score : 1.0
Precision : 1.0
Recall : 1.0
Roc Auc Score: 1.0
===================================
Model Performance For Testing Set
Accuracy : 0.9274028629856851
F1 Score : 0.7801857585139319
Precision : 0.9545454545454546
Recall : 0.6596858638743456
Roc Auc Score: 0.8260309878456861
Logistic Regression
Model Performance For Traning Set
Accuracy : 0.8455242966751918
F1 Score : 0.8203491302970762
Precision : 0.6934984520123839
Recall : 0.30727023319615915
Roc Auc Score: 0.6380739723038326
===================================
Model Performance For Testing Set
Accuracy : 0.8374233128834356
F1 Score : 0.4259927797833935
Precision : 0.686046511627907
Recall : 0.3089005235602094
Roc Auc Score: 0.6372965133684146

In [59]:
## Hyperparameter Tunning
rf_params = {
    "max_depth":[5,8,15,None,10],
    "max_features":[5,7,'auto',8],
    "min_samples_split":[2,8,15,20],
    "n_estimators":[100,200,500,1000]
}

In [60]:
## models list for Hyperparameter Tuning

randomcv_models = [
    ("RF", RandomForestClassifier(),rf_params),
]

In [61]:
from sklearn.model_selection import RandomizedSearchCV

model_param = {}

for name,model,params in randomcv_models:
    random =RandomizedSearchCV(
        estimator=model,
        param_distributions=params,
        n_iter=100,
        cv=3,
        verbose=2,
        n_jobs=1
    )

random.fit(X_train, y_train)
model_param[name] = random.best_params_

for model_name in model_param:
    print(f"-------------Best Params For {model_name} ------------------")
    print(model_param[model_name])

Fitting 3 folds for each of 100 candidates, totalling 300 fits
[CV] END max_depth=None, max_features=8, min_samples_split=2, n_estimators=100; total time=   0.3s
[CV] END max_depth=None, max_features=8, min_samples_split=2, n_estimators=100; total time=   0.4s
[CV] END max_depth=None, max_features=8, min_samples_split=2, n_estimators=100; total time=   0.3s
[CV] END max_depth=10, max_features=5, min_samples_split=20, n_estimators=100; total time=   0.2s
[CV] END max_depth=10, max_features=5, min_samples_split=20, n_estimators=100; total time=   0.2s
[CV] END max_depth=10, max_features=5, min_samples_split=20, n_estimators=100; total time=   0.2s
[CV] END max_depth=10, max_features=7, min_samples_split=2, n_estimators=500; total time=   1.8s
[CV] END max_depth=10, max_features=7, min_samples_split=2, n_estimators=500; total time=   1.9s
[CV] END max_depth=10, max_features=7, min_samples_split=2, n_estimators=500; total time=   1.9s
[CV] END max_depth=8, max_features=5, min_samples_split=8, n_estimators=100; total time=   0.2s
[CV] END max_depth=8, max_features=5, min_samples_split=8, n_estimators=100; total time=   0.2s
[CV] END max_depth=8, max_features=5, min_samples_split=8, n_estimators=100; total time=   0.2s
[CV] END max_depth=8, max_features=5, min_samples_split=20, n_estimators=1000; total time=   2.8s
[CV] END max_depth=8, max_features=5, min_samples_split=20, n_estimators=1000; total time=   2.8s
[CV] END max_depth=8, max_features=5, min_samples_split=20, n_estimators=1000; total time=   2.9s
[CV] END max_depth=None, max_features=5, min_samples_split=8, n_estimators=500; total time=   1.7s
[CV] END max_depth=None, max_features=5, min_samples_split=8, n_estimators=500; total time=   1.6s
[CV] END max_depth=None, max_features=5, min_samples_split=8, n_estimators=500; total time=   1.6s
[CV] END max_depth=10, max_features=5, min_samples_split=2, n_estimators=1000; total time=   3.1s
[CV] END max_depth=10, max_features=5, min_samples_split=2, n_estimators=1000; total time=   3.1s
[CV] END max_depth=10, max_features=5, min_samples_split=2, n_estimators=1000; total time=   3.2s
[CV] END max_depth=None, max_features=auto, min_samples_split=20, n_estimators=200; total time=   0.0s
[CV] END max_depth=None, max_features=auto, min_samples_split=20, n_estimators=200; total time=   0.0s
[CV] END max_depth=None, max_features=auto, min_samples_split=20, n_estimators=200; total time=   0.0s
[CV] END max_depth=None, max_features=5, min_samples_split=20, n_estimators=200; total time=   0.5s
[CV] END max_depth=None, max_features=5, min_samples_split=20, n_estimators=200; total time=   0.5s
[CV] END max_depth=None, max_features=5, min_samples_split=20, n_estimators=200; total time=   0.6s
[CV] END max_depth=15, max_features=5, min_samples_split=20, n_estimators=1000; total time=   3.0s
[CV] END max_depth=15, max_features=5, min_samples_split=20, n_estimators=1000; total time=   3.0s
[CV] END max_depth=15, max_features=5, min_samples_split=20, n_estimators=1000; total time=   3.2s
[CV] END max_depth=None, max_features=8, min_samples_split=2, n_estimators=500; total time=   2.0s
[CV] END max_depth=None, max_features=8, min_samples_split=2, n_estimators=500; total time=   2.1s
[CV] END max_depth=None, max_features=8, min_samples_split=2, n_estimators=500; total time=   2.1s
[CV] END max_depth=5, max_features=7, min_samples_split=20, n_estimators=100; total time=   0.2s
[CV] END max_depth=5, max_features=7, min_samples_split=20, n_estimators=100; total time=   0.2s
[CV] END max_depth=5, max_features=7, min_samples_split=20, n_estimators=100; total time=   0.2s
[CV] END max_depth=10, max_features=8, min_samples_split=8, n_estimators=1000; total time=   3.7s
[CV] END max_depth=10, max_features=8, min_samples_split=8, n_estimators=1000; total time=   3.7s
[CV] END max_depth=10, max_features=8, min_samples_split=8, n_estimators=1000; total time=   3.9s
[CV] END max_depth=8, max_features=7, min_samples_split=8, n_estimators=100; total time=   0.2s
[CV] END max_depth=8, max_features=7, min_samples_split=8, n_estimators=100; total time=   0.2s
[CV] END max_depth=8, max_features=7, min_samples_split=8, n_estimators=100; total time=   0.3s
[CV] END max_depth=5, max_features=7, min_samples_split=15, n_estimators=200; total time=   0.5s
[CV] END max_depth=5, max_features=7, min_samples_split=15, n_estimators=200; total time=   0.4s
[CV] END max_depth=5, max_features=7, min_samples_split=15, n_estimators=200; total time=   0.5s
[CV] END max_depth=10, max_features=5, min_samples_split=8, n_estimators=100; total time=   0.2s
[CV] END max_depth=10, max_features=5, min_samples_split=8, n_estimators=100; total time=   0.2s
[CV] END max_depth=10, max_features=5, min_samples_split=8, n_estimators=100; total time=   0.2s
[CV] END max_depth=None, max_features=7, min_samples_split=8, n_estimators=1000; total time=   3.9s
[CV] END max_depth=None, max_features=7, min_samples_split=8, n_estimators=1000; total time=   4.0s
[CV] END max_depth=None, max_features=7, min_samples_split=8, n_estimators=1000; total time=   4.1s
[CV] END max_depth=15, max_features=7, min_samples_split=20, n_estimators=200; total time=   0.6s
[CV] END max_depth=15, max_features=7, min_samples_split=20, n_estimators=200; total time=   0.6s
[CV] END max_depth=15, max_features=7, min_samples_split=20, n_estimators=200; total time=   0.7s
[CV] END max_depth=5, max_features=8, min_samples_split=8, n_estimators=500; total time=   1.3s
[CV] END max_depth=5, max_features=8, min_samples_split=8, n_estimators=500; total time=   1.3s
[CV] END max_depth=5, max_features=8, min_samples_split=8, n_estimators=500; total time=   1.3s
[CV] END max_depth=5, max_features=5, min_samples_split=2, n_estimators=500; total time=   1.1s
[CV] END max_depth=5, max_features=5, min_samples_split=2, n_estimators=500; total time=   1.1s
[CV] END max_depth=5, max_features=5, min_samples_split=2, n_estimators=500; total time=   1.1s
[CV] END max_depth=8, max_features=8, min_samples_split=15, n_estimators=1000; total time=   3.4s
[CV] END max_depth=8, max_features=8, min_samples_split=15, n_estimators=1000; total time=   3.4s
[CV] END max_depth=8, max_features=8, min_samples_split=15, n_estimators=1000; total time=   3.5s
[CV] END max_depth=10, max_features=auto, min_samples_split=15, n_estimators=200; total time=   0.0s
[CV] END max_depth=10, max_features=auto, min_samples_split=15, n_estimators=200; total time=   0.0s
[CV] END max_depth=10, max_features=auto, min_samples_split=15, n_estimators=200; total time=   0.0s
[CV] END max_depth=5, max_features=8, min_samples_split=2, n_estimators=100; total time=   0.2s
[CV] END max_depth=5, max_features=8, min_samples_split=2, n_estimators=100; total time=   0.2s
[CV] END max_depth=5, max_features=8, min_samples_split=2, n_estimators=100; total time=   0.2s
[CV] END max_depth=5, max_features=5, min_samples_split=15, n_estimators=100; total time=   0.1s
[CV] END max_depth=5, max_features=5, min_samples_split=15, n_estimators=100; total time=   0.1s
[CV] END max_depth=5, max_features=5, min_samples_split=15, n_estimators=100; total time=   0.1s
[CV] END max_depth=10, max_features=8, min_samples_split=2, n_estimators=1000; total time=   3.9s
[CV] END max_depth=10, max_features=8, min_samples_split=2, n_estimators=1000; total time=   4.0s
[CV] END max_depth=10, max_features=8, min_samples_split=2, n_estimators=1000; total time=   4.0s
[CV] END max_depth=10, max_features=auto, min_samples_split=8, n_estimators=100; total time=   0.0s
[CV] END max_depth=10, max_features=auto, min_samples_split=8, n_estimators=100; total time=   0.0s
[CV] END max_depth=10, max_features=auto, min_samples_split=8, n_estimators=100; total time=   0.0s
[CV] END max_depth=5, max_features=5, min_samples_split=8, n_estimators=200; total time=   0.4s
[CV] END max_depth=5, max_features=5, min_samples_split=8, n_estimators=200; total time=   0.4s
[CV] END max_depth=5, max_features=5, min_samples_split=8, n_estimators=200; total time=   0.4s
[CV] END max_depth=None, max_features=5, min_samples_split=15, n_estimators=100; total time=   0.2s
[CV] END max_depth=None, max_features=5, min_samples_split=15, n_estimators=100; total time=   0.2s
[CV] END max_depth=None, max_features=5, min_samples_split=15, n_estimators=100; total time=   0.2s
[CV] END max_depth=8, max_features=auto, min_samples_split=15, n_estimators=100; total time=   0.0s
[CV] END max_depth=8, max_features=auto, min_samples_split=15, n_estimators=100; total time=   0.0s
[CV] END max_depth=8, max_features=auto, min_samples_split=15, n_estimators=100; total time=   0.0s
[CV] END max_depth=15, max_features=8, min_samples_split=2, n_estimators=500; total time=   2.1s
[CV] END max_depth=15, max_features=8, min_samples_split=2, n_estimators=500; total time=   2.1s
[CV] END max_depth=15, max_features=8, min_samples_split=2, n_estimators=500; total time=   2.1s
[CV] END max_depth=None, max_features=7, min_samples_split=20, n_estimators=200; total time=   0.6s
[CV] END max_depth=None, max_features=7, min_samples_split=20, n_estimators=200; total time=   0.6s
[CV] END max_depth=None, max_features=7, min_samples_split=20, n_estimators=200; total time=   0.6s
[CV] END max_depth=8, max_features=auto, min_samples_split=20, n_estimators=200; total time=   0.0s
[CV] END max_depth=8, max_features=auto, min_samples_split=20, n_estimators=200; total time=   0.0s
[CV] END max_depth=8, max_features=auto, min_samples_split=20, n_estimators=200; total time=   0.0s
[CV] END max_depth=8, max_features=8, min_samples_split=2, n_estimators=500; total time=   1.6s
[CV] END max_depth=8, max_features=8, min_samples_split=2, n_estimators=500; total time=   1.7s
[CV] END max_depth=8, max_features=8, min_samples_split=2, n_estimators=500; total time=   1.7s
[CV] END max_depth=5, max_features=auto, min_samples_split=15, n_estimators=200; total time=   0.0s
[CV] END max_depth=5, max_features=auto, min_samples_split=15, n_estimators=200; total time=   0.0s
[CV] END max_depth=5, max_features=auto, min_samples_split=15, n_estimators=200; total time=   0.0s
[CV] END max_depth=8, max_features=8, min_samples_split=2, n_estimators=100; total time=   0.3s
[CV] END max_depth=8, max_features=8, min_samples_split=2, n_estimators=100; total time=   0.3s
[CV] END max_depth=8, max_features=8, min_samples_split=2, n_estimators=100; total time=   0.3s
[CV] END max_depth=10, max_features=8, min_samples_split=20, n_estimators=100; total time=   0.3s
[CV] END max_depth=10, max_features=8, min_samples_split=20, n_estimators=100; total time=   0.3s
[CV] END max_depth=10, max_features=8, min_samples_split=20, n_estimators=100; total time=   0.3s
[CV] END max_depth=None, max_features=5, min_samples_split=15, n_estimators=1000; total time=   3.2s
[CV] END max_depth=None, max_features=5, min_samples_split=15, n_estimators=1000; total time=   3.3s
[CV] END max_depth=None, max_features=5, min_samples_split=15, n_estimators=1000; total time=   3.4s
[CV] END max_depth=15, max_features=auto, min_samples_split=20, n_estimators=200; total time=   0.0s
[CV] END max_depth=15, max_features=auto, min_samples_split=20, n_estimators=200; total time=   0.0s
[CV] END max_depth=15, max_features=auto, min_samples_split=20, n_estimators=200; total time=   0.0s
[CV] END max_depth=15, max_features=5, min_samples_split=8, n_estimators=200; total time=   0.6s
[CV] END max_depth=15, max_features=5, min_samples_split=8, n_estimators=200; total time=   0.6s
[CV] END max_depth=15, max_features=5, min_samples_split=8, n_estimators=200; total time=   0.6s
[CV] END max_depth=None, max_features=5, min_samples_split=2, n_estimators=500; total time=   1.7s
[CV] END max_depth=None, max_features=5, min_samples_split=2, n_estimators=500; total time=   1.7s
[CV] END max_depth=None, max_features=5, min_samples_split=2, n_estimators=500; total time=   1.8s
[CV] END max_depth=15, max_features=auto, min_samples_split=20, n_estimators=500; total time=   0.0s
[CV] END max_depth=15, max_features=auto, min_samples_split=20, n_estimators=500; total time=   0.0s
[CV] END max_depth=15, max_features=auto, min_samples_split=20, n_estimators=500; total time=   0.0s
[CV] END max_depth=10, max_features=5, min_samples_split=20, n_estimators=200; total time=   0.5s
[CV] END max_depth=10, max_features=5, min_samples_split=20, n_estimators=200; total time=   0.5s
[CV] END max_depth=10, max_features=5, min_samples_split=20, n_estimators=200; total time=   0.5s
[CV] END max_depth=10, max_features=auto, min_samples_split=2, n_estimators=1000; total time=   0.0s
[CV] END max_depth=10, max_features=auto, min_samples_split=2, n_estimators=1000; total time=   0.0s
[CV] END max_depth=10, max_features=auto, min_samples_split=2, n_estimators=1000; total time=   0.0s
[CV] END max_depth=15, max_features=8, min_samples_split=2, n_estimators=200; total time=   0.8s
[CV] END max_depth=15, max_features=8, min_samples_split=2, n_estimators=200; total time=   0.8s
[CV] END max_depth=15, max_features=8, min_samples_split=2, n_estimators=200; total time=   0.8s
[CV] END max_depth=5, max_features=5, min_samples_split=15, n_estimators=200; total time=   0.4s
[CV] END max_depth=5, max_features=5, min_samples_split=15, n_estimators=200; total time=   0.4s
[CV] END max_depth=5, max_features=5, min_samples_split=15, n_estimators=200; total time=   0.4s
[CV] END max_depth=15, max_features=8, min_samples_split=20, n_estimators=500; total time=   1.8s
[CV] END max_depth=15, max_features=8, min_samples_split=20, n_estimators=500; total time=   1.8s
[CV] END max_depth=15, max_features=8, min_samples_split=20, n_estimators=500; total time=   1.8s
[CV] END max_depth=5, max_features=auto, min_samples_split=8, n_estimators=1000; total time=   0.0s
[CV] END max_depth=5, max_features=auto, min_samples_split=8, n_estimators=1000; total time=   0.0s
[CV] END max_depth=5, max_features=auto, min_samples_split=8, n_estimators=1000; total time=   0.0s
[CV] END max_depth=None, max_features=5, min_samples_split=20, n_estimators=500; total time=   1.4s
[CV] END max_depth=None, max_features=5, min_samples_split=20, n_estimators=500; total time=   1.5s
[CV] END max_depth=None, max_features=5, min_samples_split=20, n_estimators=500; total time=   1.5s
[CV] END max_depth=5, max_features=8, min_samples_split=15, n_estimators=1000; total time=   2.7s
[CV] END max_depth=5, max_features=8, min_samples_split=15, n_estimators=1000; total time=   2.7s
[CV] END max_depth=5, max_features=8, min_samples_split=15, n_estimators=1000; total time=   2.7s
[CV] END max_depth=15, max_features=auto, min_samples_split=2, n_estimators=200; total time=   0.0s
[CV] END max_depth=15, max_features=auto, min_samples_split=2, n_estimators=200; total time=   0.0s
[CV] END max_depth=15, max_features=auto, min_samples_split=2, n_estimators=200; total time=   0.0s
[CV] END max_depth=5, max_features=auto, min_samples_split=15, n_estimators=500; total time=   0.0s
[CV] END max_depth=5, max_features=auto, min_samples_split=15, n_estimators=500; total time=   0.0s
[CV] END max_depth=5, max_features=auto, min_samples_split=15, n_estimators=500; total time=   0.0s
[CV] END max_depth=5, max_features=5, min_samples_split=2, n_estimators=100; total time=   0.1s
[CV] END max_depth=5, max_features=5, min_samples_split=2, n_estimators=100; total time=   0.1s
[CV] END max_depth=5, max_features=5, min_samples_split=2, n_estimators=100; total time=   0.1s
[CV] END max_depth=5, max_features=7, min_samples_split=15, n_estimators=100; total time=   0.2s
[CV] END max_depth=5, max_features=7, min_samples_split=15, n_estimators=100; total time=   0.2s
[CV] END max_depth=5, max_features=7, min_samples_split=15, n_estimators=100; total time=   0.2s
[CV] END max_depth=8, max_features=auto, min_samples_split=15, n_estimators=1000; total time=   0.0s
[CV] END max_depth=8, max_features=auto, min_samples_split=15, n_estimators=1000; total time=   0.0s
[CV] END max_depth=8, max_features=auto, min_samples_split=15, n_estimators=1000; total time=   0.0s
[CV] END max_depth=None, max_features=7, min_samples_split=20, n_estimators=100; total time=   0.3s
[CV] END max_depth=None, max_features=7, min_samples_split=20, n_estimators=100; total time=   0.3s
[CV] END max_depth=None, max_features=7, min_samples_split=20, n_estimators=100; total time=   0.3s
[CV] END max_depth=10, max_features=7, min_samples_split=20, n_estimators=100; total time=   0.2s
[CV] END max_depth=10, max_features=7, min_samples_split=20, n_estimators=100; total time=   0.2s
[CV] END max_depth=10, max_features=7, min_samples_split=20, n_estimators=100; total time=   0.3s
[CV] END max_depth=15, max_features=5, min_samples_split=15, n_estimators=500; total time=   1.5s
[CV] END max_depth=15, max_features=5, min_samples_split=15, n_estimators=500; total time=   1.5s
[CV] END max_depth=15, max_features=5, min_samples_split=15, n_estimators=500; total time=   1.5s
[CV] END max_depth=5, max_features=7, min_samples_split=8, n_estimators=1000; total time=   2.5s
[CV] END max_depth=5, max_features=7, min_samples_split=8, n_estimators=1000; total time=   2.5s
[CV] END max_depth=5, max_features=7, min_samples_split=8, n_estimators=1000; total time=   2.6s
[CV] END max_depth=15, max_features=8, min_samples_split=2, n_estimators=1000; total time=   4.3s
[CV] END max_depth=15, max_features=8, min_samples_split=2, n_estimators=1000; total time=   4.4s
[CV] END max_depth=15, max_features=8, min_samples_split=2, n_estimators=1000; total time=   4.3s
[CV] END max_depth=None, max_features=8, min_samples_split=15, n_estimators=500; total time=   1.9s
[CV] END max_depth=None, max_features=8, min_samples_split=15, n_estimators=500; total time=   2.0s
[CV] END max_depth=None, max_features=8, min_samples_split=15, n_estimators=500; total time=   1.9s
[CV] END max_depth=15, max_features=8, min_samples_split=20, n_estimators=200; total time=   0.7s
[CV] END max_depth=15, max_features=8, min_samples_split=20, n_estimators=200; total time=   0.7s
[CV] END max_depth=15, max_features=8, min_samples_split=20, n_estimators=200; total time=   0.7s
[CV] END max_depth=10, max_features=8, min_samples_split=20, n_estimators=500; total time=   1.7s
[CV] END max_depth=10, max_features=8, min_samples_split=20, n_estimators=500; total time=   1.7s
[CV] END max_depth=10, max_features=8, min_samples_split=20, n_estimators=500; total time=   1.7s
[CV] END max_depth=None, max_features=auto, min_samples_split=2, n_estimators=100; total time=   0.0s
[CV] END max_depth=None, max_features=auto, min_samples_split=2, n_estimators=100; total time=   0.0s
[CV] END max_depth=None, max_features=auto, min_samples_split=2, n_estimators=100; total time=   0.0s
[CV] END max_depth=10, max_features=7, min_samples_split=2, n_estimators=100; total time=   0.3s
[CV] END max_depth=10, max_features=7, min_samples_split=2, n_estimators=100; total time=   0.3s
[CV] END max_depth=10, max_features=7, min_samples_split=2, n_estimators=100; total time=   0.3s
[CV] END max_depth=10, max_features=auto, min_samples_split=15, n_estimators=100; total time=   0.0s
[CV] END max_depth=10, max_features=auto, min_samples_split=15, n_estimators=100; total time=   0.0s
[CV] END max_depth=10, max_features=auto, min_samples_split=15, n_estimators=100; total time=   0.0s
[CV] END max_depth=None, max_features=5, min_samples_split=15, n_estimators=200; total time=   0.5s
[CV] END max_depth=None, max_features=5, min_samples_split=15, n_estimators=200; total time=   0.5s
[CV] END max_depth=None, max_features=5, min_samples_split=15, n_estimators=200; total time=   0.5s
[CV] END max_depth=15, max_features=8, min_samples_split=15, n_estimators=100; total time=   0.3s
[CV] END max_depth=15, max_features=8, min_samples_split=15, n_estimators=100; total time=   0.3s
[CV] END max_depth=15, max_features=8, min_samples_split=15, n_estimators=100; total time=   0.3s
[CV] END max_depth=5, max_features=5, min_samples_split=20, n_estimators=200; total time=   0.4s

d:\All-Machine_Learning_Algorithem-Implimentation\venv\Lib\site-packages\sklearn\model_selection\_validation.py:516: FitFailedWarning:
84 fits failed out of a total of 300.
The score on these train-test partitions for these parameters will be set to nan.
If these failures are not expected, you can try to debug them by setting error_score='raise'.

Below are more details about the failures:
--------------------------------------------------------------------------------
84 fits failed with the following error:
Traceback (most recent call last):
  File "d:\All-Machine_Learning_Algorithem-Implimentation\venv\Lib\site-packages\sklearn\model_selection\_validation.py", line 859, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "d:\All-Machine_Learning_Algorithem-Implimentation\venv\Lib\site-packages\sklearn\base.py", line 1356, in wrapper
    estimator._validate_params()
  File "d:\All-Machine_Learning_Algorithem-Implimentation\venv\Lib\site-packages\sklearn\base.py", line 469, in _validate_params
    validate_parameter_constraints(
  File "d:\All-Machine_Learning_Algorithem-Implimentation\venv\Lib\site-packages\sklearn\utils\_param_validation.py", line 98, in validate_parameter_constraints
    raise InvalidParameterError(
sklearn.utils._param_validation.InvalidParameterError: The 'max_features' parameter of RandomForestClassifier must be an int in the range [1, inf), a float in the range (0.0, 1.0], a str among {'sqrt', 'log2'} or None. Got 'auto' instead.

  warnings.warn(some_fits_failed_message, FitFailedWarning)
d:\All-Machine_Learning_Algorithem-Implimentation\venv\Lib\site-packages\sklearn\model_selection\_search.py:1135: UserWarning: One or more of the test scores are non-finite: [0.90971931 0.85703375 0.88465426 0.85473255 0.84705972 0.87749346
 0.87800549        nan 0.85805664 0.85856769 0.91099743 0.83734092
 0.87621514 0.85907894 0.83913185 0.86624052 0.88388739 0.86163616
 0.84168868 0.83196968 0.85933495        nan 0.84245516 0.83171445
 0.88670082        nan 0.83196929 0.86419436        nan 0.9081842
 0.86189335        nan 0.86879696        nan 0.86828571 0.86138151
 0.86342748        nan 0.87672757 0.90511436        nan 0.85575406
        nan 0.90971794 0.83196988 0.86368193        nan 0.85805644
 0.84347883        nan        nan 0.83299316 0.83862002        nan
 0.85959136 0.86035823 0.86393873 0.84041017 0.90920689 0.87058789
 0.86291565 0.86086909        nan 0.88260907        nan 0.86138151
 0.86828708 0.83324878 0.86086929        nan        nan        nan
        nan 0.82890043 0.87289047        nan 0.86393834 0.90613862
 0.85549844        nan        nan        nan 0.86777485 0.86112432
 0.85805644 0.857545   0.86598411        nan 0.85626649 0.867007
        nan 0.86189198        nan 0.85984659 0.86700661 0.84757038
 0.90690549        nan        nan 0.86010222]
  warnings.warn(

-------------Best Params For RF ------------------
{'n_estimators': 500, 'min_samples_split': 2, 'max_features': 8, 'max_depth': None}

In [63]:
models = {

    "Random Forest":RandomForestClassifier(n_estimators=1000,min_samples_split=2,max_features=8,max_depth=15)

}

for i in range(len(list(models))):
    model = list(models.values())[i]
    model.fit(X_train, y_train)

    y_train_pred = model.predict(X_train)
    y_test_pred = model.predict(X_test)

    ## make prediction
    y_train_pred = model.predict(X_train)
    y_test_pred = model.predict(X_test)
    ## Training Set Performance
    model_train_accuracy = accuracy_score(y_train,y_train_pred)
    model_train_f1 = f1_score(y_train,y_train_pred, average='weighted')
    model_train_precision = precision_score(y_train, y_train_pred)
    model_train_recall =recall_score(y_train, y_train_pred)
    model_train_rocauc_score =roc_auc_score(y_train,y_train_pred)


    ## Test Set Performance
    model_test_accuracy = accuracy_score(y_test, y_test_pred)
    model_test_f1 =f1_score(y_test, y_test_pred)
    model_test_precision = precision_score(y_test, y_test_pred)
    model_test_recall =recall_score(y_test, y_test_pred)
    model_test_rocauc_score = roc_auc_score(y_test, y_test_pred)


    print(list(models.keys())[i])

    print("Model Performance For Traning Set")
    print("Accuracy :", model_train_accuracy)
    print("F1 Score :", model_train_f1)
    print("Precision :", model_train_precision)
    print("Recall :", model_train_recall)
    print("Roc Auc Score:", model_train_rocauc_score)

    print("="*35)

    print("Model Performance For Testing Set")
    print("Accuracy :", model_test_accuracy)
    print("F1 Score :", model_test_f1)
    print("Precision :", model_test_precision)
    print("Recall :", model_test_recall)
    print("Roc Auc Score:", model_test_rocauc_score)

Random Forest
Model Performance For Traning Set
Accuracy : 0.9987212276214834
F1 Score : 0.9987195295031781
Precision : 1.0
Recall : 0.9931412894375857
Roc Auc Score: 0.9965706447187929
===================================
Model Performance For Testing Set
Accuracy : 0.9274028629856851
F1 Score : 0.7828746177370031
Precision : 0.9411764705882353
Recall : 0.6701570680628273
Roc Auc Score: 0.8299959419094315

In [66]:
## Plot ROC AUC Curve
from sklearn.metrics import roc_auc_score,roc_curve
plt.figure()

auc_models = [

{
    'label': 'Random Forest Classifier',
    'model': RandomForestClassifier(n_estimators=1000,min_samples_split=2,max_features=8,max_depth=15),

    'auc': 0.8299
},
]

## Create a loop thorough all mdel

for algo in auc_models:
    model = algo['model']
    model.fit(X_train, y_train)

    fpr,tpr, thresholds = roc_curve(y_test,model.predict_proba(X_test)[:,1])

    plt.plot(fpr, tpr, label='%s ROC (area= %0.2f)' % (algo['label'], algo['label']))


## Custom setting for the plot
plt.plot([0, 1], [0,1], 'r--')
plt.xlim([0.0, 1.0])
plt.ylim([0.0, 1.05])
plt.xlabel('1-Specificity(False Positive Rate)')
plt.ylabel('Sensitivity(True Positive Rate)')
plt.legend(loc="lower right")
plt.savefig("auc.png")
plt.show()

TypeError: must be real number, not str