Handling Imbalanced Datasets
1.UpSampling
2.DownSampling

In [1]:
import numpy as np
import pandas as pd


## Set the random seed for reproducibility
np.random.seed(123)

# Create a dataframe with two classes

n_samples = 1000
class_0_ratio = 0.9
n_class_0 = int(n_samples * class_0_ratio)
n_class_1 = n_samples - n_class_0

In [2]:
n_class_0,n_class_1

(900, 100)

In [4]:
## Create my dataframe with imbalanced datasets

class_0 = pd.DataFrame({
    'feature_1': np.random.normal(loc=0, scale=1,size=n_class_0),
    'feature_2': np.random.normal(loc=0, scale=1,size=n_class_0),
    'target':[0]* n_class_0
})

class_1 = pd.DataFrame({
    'feature_1': np.random.normal(loc=2, scale=1, size=n_class_1),
    'feature_2': np.random.normal(loc=2, scale=1, size=n_class_1),
    'target':[1] *n_class_1 
})

In [6]:
df = pd.concat([class_0, class_1]).reset_index(drop=True)

In [7]:
df.head()

   feature_1  feature_2  target
0  -1.085631   0.551302       0
1   0.997345   0.419589       0
2   0.282978   1.815652       0
3  -1.506295  -0.252750       0
4  -0.578600  -0.292004       0

In [8]:
df.tail()

     feature_1  feature_2  target
995   1.376371   2.845701       1
996   2.239810   0.880077       1
997   1.131760   1.640703       1
998   2.902006   0.390305       1
999   2.697490   2.013570       1

In [9]:
df['target'].value_counts()

target
0    900
1    100
Name: count, dtype: int64

In [10]:
## Upsampling
df_minority = df[df['target']==1]
df_mijority = df[df['target']==0]

In [11]:
from sklearn.utils import resample

df_minority_upsampled = resample(df_minority,replace=True,
         n_samples=len(df_mijority),
         random_state=42)

In [12]:
df_minority_upsampled.shape

(900, 3)

In [13]:
df_minority_upsampled.head()

     feature_1  feature_2  target
951   1.125854   1.843917       1
992   2.196570   1.397425       1
914   1.932170   2.998053       1
971   2.272825   3.034197       1
960   2.870056   1.550485       1

In [14]:
df_upsampled = pd.concat([df_mijority,df_minority_upsampled])

In [15]:
df_upsampled

     feature_1  feature_2  target
0    -1.085631   0.551302       0
1     0.997345   0.419589       0
2     0.282978   1.815652       0
3    -1.506295  -0.252750       0
4    -0.578600  -0.292004       0
..         ...        ...     ...
952   1.188902   2.189189       1
965   3.919526   1.980541       1
976   2.810326   3.604614       1
942   3.621531   2.168229       1
974   1.160887   2.489203       1

[1800 rows x 3 columns]

In [16]:
df_upsampled['target'].value_counts()

target
0    900
1    900
Name: count, dtype: int64

In [17]:
# Downsampling
import numpy as np
import pandas as pd


## Set the random seed for reproducibility
np.random.seed(123)

# Create a dataframe with two classes

n_samples = 1000
class_0_ratio = 0.9
n_class_0 = int(n_samples * class_0_ratio)
n_class_1 = n_samples - n_class_0

class_0 = pd.DataFrame({
    'feature_1': np.random.normal(loc=0, scale=1,size=n_class_0),
    'feature_2': np.random.normal(loc=0, scale=1,size=n_class_0),
    'target':[0]* n_class_0
})

class_1 = pd.DataFrame({
    'feature_1': np.random.normal(loc=2, scale=1, size=n_class_1),
    'feature_2': np.random.normal(loc=2, scale=1, size=n_class_1),
    'target':[1] *n_class_1 
})

In [18]:
df['target'].value_counts()

target
0    900
1    100
Name: count, dtype: int64

In [19]:
## Downsampling
df_minority = df[df['target']==1]
df_mijority = df[df['target']==0]

In [20]:
from sklearn.utils import resample

df_majority_downsampled = resample(df_mijority,replace=False,
            n_samples=len(df_minority),
            random_state=42)

In [21]:
df_majority_downsampled.shape

(100, 3)

In [26]:
df_downsampled =pd.concat([df_minority,df_majority_downsampled])

In [27]:
df_downsampled

     feature_1  feature_2  target
900   1.699768   2.139033       1
901   1.367739   2.025577       1
902   1.795683   1.803557       1
903   2.213696   3.312255       1
904   3.033878   3.187417       1
..         ...        ...     ...
398  -0.168426   0.553775       0
76   -0.403366   0.081491       0
196  -0.269293   0.611238       0
631  -0.295829   0.671673       0
751  -0.553404   0.804438       0

[200 rows x 3 columns]

In [28]:
df_downsampled.target.value_counts()

target
1    100
0    100
Name: count, dtype: int64